<div class="hero-section">
   <div class="hero-section-title">
     <h2>
Learn to Cook  Tasty Treats' Customizable Masterclass
     </h2>
   </div>
   <div class="hero-section-slider">
    <section class="card-set wrapper">
      <p class="excerpt">SLIDER</p>

      <div class="image-slider swiper">
        <div class="image-slider-wrapper swiper-wrapper">
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/1.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/2.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/3.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/4.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/5.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/6.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/7.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/8.jpg" alt="foto" />
            </div>
          </div>
          <div class="image-slider-slide swiper-slide">
            <div class="image-slider-image">
              <img class="position" src="./images/9.jpg" alt="foto" />
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
   </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> -->